<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="ConnString" value="Data Source=.;Initial Catalog=XinatorCentral;Integrated Security=True; Connect Timeout=600; MultipleActiveResultSets=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="BaseUrl" value="https://localhost:3009/Login.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="LogoutReturnUrl" value="https://localhost:3009/XinatorCentral/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
    <system.web>
        <compilation xdt:Transform="SetAttributes(debug)" debug="true" />
        <!-- Ensure custom errors are off for easier debugging locally -->
        <customErrors mode="Off" xdt:Transform="SetAttributes(mode)"/>
    </system.web>
</configuration>
