<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="ConnString" value="Data Source=3.148.0.246;Initial Catalog=XinatorCentral;Persist Security Info=True;User ID=Mobilizedba;Password=Mobilizedba; Connect Timeout=600; MultipleActiveResultSets=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="BaseUrl" value="https://testsite.myserviceforce.com/AccountsXinator/Login.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="LogoutReturnUrl" value="https://testsite.myserviceforce.com/XinatorCentral/AdminServices/Logout.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp from="support@myserviceforce.com">
				<network host="smtp.mailgun.org" port="587" userName="postmaster@mg.myserviceforce.com" password="mSFmailgun123" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!-- Set custom errors to RemoteOnly for production to hide detailed errors from end-users -->
		<customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx" xdt:Transform="SetAttributes(mode, defaultRedirect)">
			<!-- Optional: Add specific error pages if needed -->
			<!-- <error statusCode="404" redirect="~/NotFound.aspx" /> -->
		</customErrors>
	</system.web>
</configuration>
